<h1>Carries</h1>

<div class="list-group">
  <% if !@carries.present? %>
    No Carries matched that search!
  <% end %>
  <% @carries.each do |carry| %>
    <%= render 'show', carry: carry, main: carry.character %>
  <% end %>
</div>
